<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/head') %> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notiflix@3.2.2/dist/notiflix-3.2.2.min.css">
</head>
<body>
    <header>
      <%- include('../../partials/products/navbar') %> 
    </header>
    <main>
      <center>
        <div class="container">
          <% if (products.length == 0) { %>
            <h1>No own products yet...</h1>
          <% } else { %>
            <table class="highlight centered bordered responsive-table">
              <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th>Choice</th>
                </tr>
              </thead>
              <tbody>
                <% for( let idx = 0; idx < products.length; idx++ ) { %>
                  <tr class="product" data-product-id=<%= products[idx]._id %>>
                    <td><%= products[idx].name %></td>
                    <td><%= products[idx].price %></td>
                    <td><%= products[idx].description %></td>
                    <td><a class="waves-effect waves-teal btn-flat deep-purple accent-1" href=<%= products[idx].image.path %> target="_blank" rel="noopener noreferrer">Show</a></td>
                    <td><a class="product-edit waves-effect waves-teal btn-flat teal accent-3 modal-trigger" href="#product-edit-<%= idx %>">Edit</a> <a href="#product-delete-<%= idx %>" class="product-delete modal-trigger waves-effect waves-teal btn-flat red darken-1">Delete</a></td>

                    <div class="modal-container" data-n=<%= idx %>  data-product-id=<%= products[idx]._id %>>
                      <div id="product-edit-<%= idx %>" class="modal product-edit-init product-edit-modal-<%= idx %>">
                        <div class="modal-content">
                          <%- include('../../partials/products/editProduct', {name: products[idx].name}) %> 
                        </div>
                      </div>
                      <div id="product-delete-<%= idx %>" class="modal product-delete-init product-delete-modal-<%= idx %>">
                        <div class="modal-content">
                          <%- include('../../partials/products/deleteProduct', {name: products[idx].name}) %> 
                        </div>
                      </div>
                    </div>
                  </tr>
                <% } %>
              </tbody>  
            </table>
          <% } %>
        </div>
      </center>
    </main>


    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/notiflix@3.2.2/dist/notiflix-3.2.2.min.js"></script>
    <script type="module" src="/static/js/js.cookie.min.mjs"></script>
    <script type="module" src="/static/js/products.mjs"></script>
</body>
</html>