<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %> 
</head>
<body>
    <header>
        <%- include('../partials/menu') %> 
    </header>
    <div class="container">
        <main class="content">
            <article class="category__container">
                <div class="row">
                    <div class="row__column row__column_50">
                        <%- include('../partials/content/category', {
                            title: 'Freshly Picked Honey',
                            description: 'Honey is a sweet, viscous food substance made by honey bees and some related insects',
                            image: 'static/images/shop/hot-product/1.jpg'
                        })%>
                    </div>
                    <div class="row__column row__column_50">
                        <div class="row">
                            <div class="row__column">
                                <%- include('../partials/content/category', {
                                    title: 'Thanks to the honey bees',
                                    description: 'Honey is a sweet, viscous food substance made by honey bees and some related insects',
                                    image: 'static/images/shop/hot-product/2.jpg'
                                })%>
                            </div>
                            <div class="row__column">
                                <%- include('../partials/content/category',{
                                    title: 'Honey that is Bee Honey',
                                    description: 'Honey is a sweet, viscous food substance made by honey bees and some related insects',
                                    image: 'static/images/shop/hot-product/3.jpg'
                                })%>
                            </div>
                        </div>
                    </div>
                    <div class="row_column">
                        <%- include('../partials/content/category',{
                            title: 'Honey tastes so good',
                            description: 'Honey is a sweet, viscous food substance made by honey bees and some related insects',
                            image: 'static/images/shop/hot-product/4.jpg'
                        })%>
                    </div>
                </div>
            </article>
            <section class="section products">
                <div class="heading heading_center">
                    <h5 class="heading__sub heading_center">Our Products</h5>
                    <div class="heading__arrow ">
                        <span class="heading__arrow_points"></span>
                        <span class="heading__arrow_line"></span>
                        <span class="heading__arrow_points"></span>
                    </div>
                    <h2 class="heading__title heading__title_large">Best Quality Product</h2>
                </div>
                <article class="hot-products">
                    <div class="row">
                        <div class="row__column">
                            <ul class="products-filter">
                                <%- include('../partials/content/product-filter', {title: 'Beehive', active: true}) %> 
                                <%- include('../partials/content/product-filter', {title: 'Beekeeper'}) %>
                                <%- include('../partials/content/product-filter', {title: 'Honey'}) %>
                                <%- include('../partials/content/product-filter', {title: 'BeeHoney'}) %>
                                <%- include('../partials/content/product-filter', {title: 'Beekeeping'}) %>
                                <%- include('../partials/content/product-filter', {title: 'HoneyBee'}) %>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <% for( let i = 0; i < products.length; i++ ) { %>
                            <%- include('../partials/content/product', {title: products[i].name, image: products[i].image, price: products[i].price}) %>
                        <% } %>
                    </div>
                </article>
            </section>
            <section class="section top-picks">
                <div class="paginator">
                    <div class="paginator__left">
                        <div class="heading">
                            <h5 class="heading__title heading__title_normal">Top Picks</h5>
                        </div>
                    </div>
                    <div class="paginator__rigth">
                        <div class="paginator__prev paginator__circle">
                            <i class='bx bx-left-arrow bx-sm' ></i>
                        </div>
                        <div class="paginator__next paginator__circle">
                            <i class='bx bx-right-arrow bx-sm' ></i>
                        </div>
                    </div>
                </div>
                <div class="row slider">
                    <% for( let i = 0; i < 20; i++ ) { %>
                        <%- include('../partials/content/product', {title: products[0].name, image: products[0].image, price: products[0].price}) %>
                    <% } %>
                </div>
            </section>
        </main>
    </div>
    <footer class="footer">
        <%- include('../partials/footer') %> 
    </footer>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script type="module" src="/static/js/js.cookie.min.mjs"></script>
    <script type="module" src="/static/js/index.mjs"></script>
</body>
</html>